

.container {
    display: grid; 
    min-height: 100%;

    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header header"
      "main-1 main-1 main2 main2"
      "footer footer footer footer"; 
  }
  .main-1 { grid-area: main-1; }
  .main2 { grid-area: main2;min-width: 1000px; }

  footer { grid-area: footer; 
    position: absolute
    ;
    width: 99%;
  
    bottom: 0px ;
    top: 90%;
        background-color: aqua;
    ;}



  header { grid-area: header;
    background-color: aqua;
    position: sticky;
    top: 0px;
    height: 50px;
     }


#titulo {text-align: left;}





  
  

