
.container {
    display: grid; 
    min-height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas:
      "header header header header"
      "main-1 main-1 main-2 main-2"
      "footer footer footer footer";
    }
  
header {
  grid-area: header;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  background-color: white;
  width: 99%;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0.2px solid gray;
  }


.nav {
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
  }

.carrito{
  position: absolute;
  left: 85%;
  top: 15%;
  height: 30px;
  transition: 300ms;
  }
  
.carrito:hover{
  transform: scale(1.15);
  }
  
.usuario{
  position: absolute;
  left: 90%;
  top: 15%;
  height: 30px;
  transition: 300ms;
  }
  
.usuario:hover{
  transform: scale(1.15);
  }


.logo {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-left: 50px;
  }

.bar-menu {
  height: 30px;
  top: 15%;
  position: absolute;
  left: 95%;

  }

.titulo {
  height: 30px;
  font-size: medium;
  top: 15%;
  position: absolute;
  right: 90%;
  }



.main-1 { 
  grid-area: main-1;
  }

.main-2 {
  grid-area: main-2; 

  }




.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    width: auto;
    line-height: 75px;
    font-size: 20px;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    }
  


.flex-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: medium;
  align-items: center;
  }




footer { 
  grid-area: footer;
  width: 100%;
  bottom: 0px;
  background-color: white;
  border-top: 0.2px solid gray;;
  height: auto ;
  }


.ig{
  position: relative;
  width: 30px;
  bottom: -5%;
  }

.face{
  width: 30px;
  position: relative;
  bottom: -10%;
  }

.wpp {
  position: relative;
  bottom: -5%;
  width: 30px;
  }

.mail{
  position: relative;
  bottom: -10%;
  width: 30px;
  }

.copyright {
  border-top: 0.2px solid gray;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: small;
  min-height: 30px; 
  width: 100%;
  }


  @media only screen and (max-width: 600px) {

    #nav{
      flex-direction: column;
    }

    .flex-container{
      flex-direction: column;
    }

    .copyright {
      flex-direction: column;
    }

    .bar-menu {
      left: 85%;
      margin-left: 20px;
      margin-right: 20px;
    }

    .carrito {
      left: 75%;
      margin-left: 20px;
      margin-right: 20px;

    }
 
    .usuario {
      left: 80%;
      margin-left: 20px;
      margin-right: 20px;

    }

    .ig {
      margin-bottom: 10px;
    }

    .wpp {
      margin-bottom: 10px;
    }

    .container {
      display: grid; 
      min-height: 100%;
      grid-template-columns: 1fr; 
      grid-template-rows: 1fr 1fr 1fr 1fr; 
      gap: 0px 0px; 
      grid-template-areas:
        "header"
        "main-1"
        "main-2"
        "footer";
      }


  }






  




  
  

